body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.findCity {
  margin-bottom: 20px;
}

form.example {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  width: 80%;
  background: #f1f1f1;
  border: 1px solid #ccc; /* Adiciona uma borda sutil */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

form.example button {
  width: 20%;
  padding: 10px 0; /* Apenas padding horizontal */
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: none; /* Remove bordas extras para garantir que as alturas sejam iguais */
  border-left: none;
  cursor: pointer;
  line-height: 1.5; /* Para alinhar o texto corretamente */
}

form.example button:hover {
  background: #0b7dda;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px; /* Adiciona espaçamento entre o card e a barra de busca */
}

.tituloCidade {
  background-color: #01a4e5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.tituloCidade h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
}

.tituloCidade i {
  margin-right: 8px;
}

.card h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.card .title {
  color: grey;
  font-size: 18px;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  margin: 10px 0;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #2196F3;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0b7dda;
}